<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<%= render 'form', bookmark: @bookmark %>

<div id="detail_bookmark"></div>

<table id="bookmarks">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr data-id="<%= bookmark.id %>">
        <%= render 'bookmark', bookmark: bookmark %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= pie_chart @bookmark_group, legend: "bottom" %>

<%= link_to 'Category', categories_path %><br>
<%= link_to 'Type', types_path %>
