<p id="notice"><%= notice %></p>

<h1>Types</h1>

<%= render 'form', type: @type %>

<div id="detail_type"></div>

<table id="types">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr data-id="<%= type.id %>">
      <%= render 'type', type: type %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Category', categories_path %><br>
<%= link_to 'Bookmark', bookmarks_path %>
