<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<%= render 'form', category: @category %>

<div id="detail_category"></div>

<table id="categories">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr data-id="<%= category.id %>">
        <%= render 'category', category: category %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Type', types_path %><br>
<%= link_to 'Bookmark', bookmarks_path %>
